* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(87, 44, 44)
}

body {
  background-color: rgb(235, 214, 175);
}

h1 {
  color: rgb(46, 22, 22);
}

img {
  width: 300px;
  height: auto;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: rgb(87, 44, 44);
  text-decoration: none;
}